
<% if user_signed_in? %>
    <h1>Hello friend, <%= current_user.email %>, <%= current_user.first_name %>, <%= current_user.id %></h1>
    <div><%= link_to 'Sign out' ,destroy_user_session_path ,  method: :delete %></div>
<% else %>
    <h1>Hello user, please sign up! </h1>
    <div><%= link_to 'Sign up' , new_user_registration_path %></div>
    <div><%= link_to 'Sign in' , new_user_session_path %></div>
<% end %>